<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">


	<!-- fontawesome icons CSS -->
	<link rel="stylesheet" href="../static/assets/vendor/fontawesome4.7.0/css/font-awesome.min.css" type="text/css">

	<!-- Custome scrollbar CSS -->
	<link rel="stylesheet"
		href="../static/assets/vendor/jquery-custom-scrollbar-0.5.5/jquery-custom-scrollbar-0.5.5/jquery.custom-scrollbar.css"
		type="text/css">

	<!-- Footable CSS -->
	<link rel="stylesheet" href="../static/assets/vendor/footable-bootstrap.latest/css/footable.bootstrap.min.css"
		type="text/css">

	<!-- framework CSS -->
	<link id="theme" rel="stylesheet" href="../static/assets/css/style-helpdesk.css" type="text/css">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="../static/assets/css/style_check.css">

	<link rel="icon" href="../static/assets/img/logo.png">

	<title>BMC | Home</title>
</head>

<body class="fixed-header">
	<div class="loader-logo">
		<img src="../static/assets/img/logo.png" alt="bootstrap template design by maxartkiller">
		<br>
		<div class="loader-ellipsis">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="wrapper">
		<!-- header starts -->
		<header class="border-bottom">
			<nav class="navbar fixed-top navbar-white bg-white justify-content-center">
				<div class="d-flex">
					<a class="navbar-brand" href="#">
						<img src="../static/assets/img/logo.png" alt="">
						<h5>
							<span>Business Matching Companion</span>
						</h5>
					</a>
				</div>
				<div class="d-flex ml-auto" id="navbarCollapse">

					<div class="d-block">

						<div class="dropdown float-left">
							<button class="btn btn-link rounded-0 dropdown-toggle float-right user-profile"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
								<span class="figure avatar30 rounded-circle m-0">
									<img src="../static/assets/img/userLogo.png" alt="">
								</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right">
								<p class="sub-title text-center">{{ user.firstname }} {{ user.lastname }}</p>
								<a class="dropdown-item" href="#">Profile</a>
								<a class="dropdown-item" href="#">Settings</a>
								<a class="dropdown-item" href="/signout">Signout</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!-- header ends -->


		<!-- main container starts -->
		<div class="main-container">
			<div class="container-fluid mb-3 position-relative bg-purple">
				<div class="row">
					<div class="container">
						<div class="row page-title-row">
							<div class="col-8">
								<h2 class="page-title text-white">Home</h2>
								<p class="text-white">Good Day, {{ user.firstname }} {{ user.lastname }}. Welcome to
									Business Matching Companion!</p>
							</div>
							<div class="col-4 text-right">
								<a href="#" class="btn-sm btn btn-success mt-1">
									<i class="fa fa-star"></i>
								</a>
								<button type="button" class="btn-sm btn btn-primary ml-2 mt-1" id="color-setting">
									<i class="fa fa-cogs"></i>
								</button>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Begin page content -->
			<div class="container" style="margin-bottom: 70px !important;">

				<!-- <div class="row">
					<div class="col-6 col-lg-4 col-xl-3 pr-2">
						<div class="card mb-3 border-0 rounded-0 gradient-success">
							<div class="card-body">
								<div class="media">
									<div class="media-body">
										<h3 class="f-light">6523</h3>
										<p class="mb-0">Completed</p>
									</div>
									<span class="icon fa fa-check-circle mr-0"></span>
								</div>
								<div class="progress progress-sm rounded-0 light mt-3">
									<div class="progress-bar bg-white" role="progressbar" style="width: 75%"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 pl-2">
						<div class="card mb-3 border-0 rounded-0 gradient-danger">
							<div class="card-body">
								<div class="media">
									<div class="media-body">
										<h3 class="f-light">25456</h3>
										<p class="mb-0">Critical</p>
									</div>
									<span class="icon fa fa-exclamation-circle mr-0"></span>
								</div>
								<div class="progress progress-sm rounded-0 light mt-3">
									<div class="progress-bar bg-white" role="progressbar" style="width: 75%"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 pr-2">
						<div class="card mb-3 border-0 rounded-0 gradient-warning">
							<div class="card-body">
								<div class="media">
									<div class="media-body">
										<h3 class="f-light">1234</h3>
										<p class="mb-0">In-progress</p>
									</div>
									<span class="icon fa fa-info-circle mr-0"></span>
								</div>
								<div class="progress progress-sm rounded-0 light mt-3">
									<div class="progress-bar bg-white" role="progressbar" style="width: 75%"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-4 col-xl-3 pl-2">
						<div class="card mb-3 border-0 rounded-0 gradient-primary">
							<div class="card-body">
								<div class="media">
									<div class="media-body">
										<h3 class="f-light">485</h3>
										<p class="mb-0">Un-assinged</p>
									</div>
									<span class="icon fa fa-plus-circle mr-0"></span>
								</div>
								<div class="progress progress-sm rounded-0 light mt-3">
									<div class="progress-bar bg-white" role="progressbar" style="width: 75%"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				<div class="row justify-content-center">
					<!-- 
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card mb-3 border-0 rounded-0 bg-danger">
							<span class="icon-background fa fa-users"></span>
							<div class="card-body">
								<div class="media mb-2">
									<div class="media-body">
										<h4>{{ allBusinessCount }}</h4>
										<p class="text-uppercase">All Businesses</p>
									</div>
									<span class="icon fa fa-users"></span>
								</div>
								<div class="row">
									<div class="col">
										<span class="dynamicsparkline2">Loading..</span>
									</div>
								</div>
								<div class="progress progress-sm rounded-0 bottom light">
									<div class="progress-bar bg-white" role="progressbar" style="width: 75%"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card mb-3 border-0 rounded-0 bg-warning">
							<span class="icon-background fa fa-user"></span>
							<div class="card-body">
								<div class="media mb-2">
									<div class="media-body">
										<h4>{{ businessCount }}</h4>
										<p class="text-uppercase">Your Businesses</p>
									</div>
									<span class="icon fa fa-user"></span>

								</div>
								<div class="row">
									<div class="col">
										<span class="dynamicsparkline2">Loading..</span>
									</div>
								</div>
								<div class="progress progress-sm rounded-0 bottom light">
									<div class="progress-bar bg-white" role="progressbar" style="width: 75%"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div> -->


					<!-- <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card mb-3 border-0 rounded-0 bg-primary">
							<span class="icon-background fa fa-comments"></span>
							<div class="card-body">
								<div class="media mb-2">
									<div class="media-body">
										<h4>48</h4>
										<p class="text-uppercase">New Feedback</p>
									</div>
									<span class="icon fa fa-comments"></span>
								</div>
								<div class="row">
									<div class="col">
										<small>Progress</small>
									</div>
									<div class="col">
										<span class="dynamicsparkline2">Loading..</span>
									</div>
								</div>
								<div class="progress progress-sm rounded-0 bottom light">
									<div class="progress-bar bg-white" role="progressbar" style="width: 75%"
										aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div> -->
				</div>


				<!-- MEETINGS -->
				<h5 class="sub-title text-dark">Meetings</h5>
				<div class="card rounded-0 border-0 mb-3" style="height: 260px !important;">
					<div class="card-header scroll-y">
						<div class="col-12">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active  border-primary" data-toggle="tab" href="#meetings"
										role="tab" aria-selected="true"> Your Meetings</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="card-body" style="overflow-y: scroll;">
						<div class="tab-content scroll-y">
							<!-- Meetings -->
							<div class="tab-pane fade active show" id="meetings" role="tabpanel">
								<div class="list-unstyled mb-3" style="padding: 10px;">
									{% for meeting in meetings_data %}
									<div class="item">
										<div class="media">
											<i class="align-self-start icon fa fa-calendar"></i>
											<div class="media-body">
												<div class="row">
													<div class="col">
														<h5>{{ meeting.business_name }}</h5>
														<p>{{ meeting.title }} ({{ meeting.mode }})</p>
														{{ meeting.date }}
													</div>

													<div class="col">
														{% if meeting.status == 'PENDING' %}
														<span class="badge badge-warning mb-1">-
															{{meeting.status}}
															-</span>
														{% endif %}

														{% if meeting.status == 'ACCEPTED' %}
														<span class="badge badge-success mb-1">-
															{{meeting.status}}
															-</span>
														{% endif %}

														{% if meeting.status == 'DECLINED' %}
														<span class="badge badge-danger mb-1">-
															{{meeting.status}}
															-</span>
														{% endif %}
													</div>

													<div class="col" style="margin-top: 10px;">
														<button type="button" class="btn btn-info btn-sm"
															data-toggle="modal" data-target="#meeting-{{ meeting.id }}">
															View
														</button>


														<!-- Modal -->
														<div class="modal fade" id="meeting-{{ meeting.id }}"
															tabindex="-1" role="dialog"
															aria-labelledby="exampleModalLabel" aria-hidden="true">
															<div class="modal-dialog modal-dialog-centered"
																role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h3 class="modal-title text-dark"
																			id="exampleModalLabel">Meeting | {{
																			meeting.business_name }}
																		</h3>
																		<button type="button" class="close"
																			data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																	</div>
																	<div class="modal-body">
																		<div class="card rounded-0 border-0 mb-3">
																			<div class="card-body p-0">
																				<div class="row m-0">
																					<div class="p-3 bg-warning">
																						<div class="media">
																							<div class="media-body">
																								<h4 class="f-light">
																									<b>
																										{{
																										meeting.dateDay
																										}}
																									</b>
																								</h4>
																								<p>
																									<b>{{
																										meeting.dateMonth
																										}}
																									</b>
																								</p>
																							</div>
																						</div>
																					</div>
																					<div class="col px-3 pt-3">
																						<div class="media">
																							<div class="media-body">
																								<h4 class="f">
																									<b>
																										{{
																										meeting.title
																										}}
																									</b>
																								</h4>

																								{% if
																								meeting.status
																								== 'PENDING'
																								%}
																								<span
																									class="badge badge-warning mb-1">-
																									{{meeting.status}}
																									-</span>
																								{% endif %}

																								{% if
																								meeting.status
																								==
																								'ACCEPTED'
																								%}
																								<span
																									class="badge badge-success mb-1">-
																									{{meeting.status}}
																									-</span>
																								{% endif %}

																								{% if
																								meeting.status
																								==
																								'DECLINED'
																								%}
																								<span
																									class="badge badge-danger mb-1">-
																									{{meeting.status}}
																									-</span>
																								{% endif %}

																								<h5>
																									<i
																										class="fa fa-clock-o"></i>
																									{{
																									meeting.time
																									}} | {{
																									meeting.duration
																									}} ({{
																									meeting.mode
																									}})
																								</h5>
																								<a
																									href="{{ meeting.link }}">{{meeting.link}}</a>
																								<br><br>
																								<p>{{
																									meeting.details
																									}}</p>
																								<br>
																							</div>
																						</div>
																						<a
																							href="/download_ics/{{ meeting.request_id}}"><button
																								type="button"
																								class="rounded-3 btn btn-outline-primary btn-sm">Download
																								ICS
																							</button></a>
																					</div>
																				</div>

																			</div>

																		</div>

																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-danger"
																			data-dismiss="modal">Back</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<hr>
									</div>
									{% endfor %}
								</div>
							</div>
							<!-- Meetings -->
						</div>
					</div>
				</div>


				<!-- COMPANIES TABLE -->
				<h5 class="sub-title text-dark">Businesses</h5>
				<div class="container-table">
					<div class="card rounded-50 border-0">
						<div class="card-header">
							<h4 class="card-title d-inline-block text-dark">Your Businesses</h4>
							<a href="/createBusiness">
								<button class="btn btn-success btn-sm float-right"><span>&#43;</span> Add
									Business</button>
							</a>
						</div>

						<div class="card-body p-0">
							<table class="table mb-0 footable">
								<thead class="d-none">
									<tr>
										<th>Business Name</th>
										<th data-breakpoints="xs">ID</th>
										<th data-breakpoints="xs">Email</th>
										<th data-breakpoints="xs">Phone No.</th>
										<th data-breakpoints="xs sm">Description</th>
										<th data-breakpoints="xs sm">Action</th>
									</tr>
								</thead>
								<tbody>
									<div class="overflow-auto">
										<!-- displaying businesses -->
										{% for comp in company %}
										{% if isDisplay is not false %}
										<tr>
											<td>
												<div class="media">
													<div
														class="figure avatar60 rounded-circle align-self-start bg-purple text-white border-0">
														<img src="{{ url_for('static', filename=comp.logo_data) }}"
															alt="userLogo">
													</div>
													<div class="media-body">
														<h5 class="time-title p-0">{{ comp.business_name }}</h5>
														{{ comp.business_address }}
													</div>
												</div>
											</td>
											<td>
												<p class="time-title p-0">{{ comp.id }}</p>
											</td>
											<td>
												<p>{{ comp.business_email }}</p>
											</td>
											<td>{{ comp.business_phone }}</td>
											<td>{{ comp.business_desc }}</td>
											<td>
												<!-- <button type="button" class="rounded-3 btn btn-outline-primary btn-sm"
													onclick="getCompanyID({{ comp.id }})">Visit
												</button> -->
												<a href="/profile/{{ comp.id }}"><button type="button"
														class="rounded-3 btn btn-outline-primary btn-sm">Visit
													</button></a>
											</td>
										</tr>
										{% endif %}
										{% endfor %}
									</div>
									<!-- displaying businesses -->
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- COMPANIES TABLE -->

			</div>
		</div>
		<!-- main container ends -->

	</div>
	<!-- wrapper ends -->




	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../static/assets/vendor/jquery-3.2.1.min.js"></script>
	<script src="../static/assets/vendor/popper.min.js"></script>
	<script src="../static/assets/vendor/bootstrap-4.1.3/bootstrap.min.js"></script>

	<!-- Circular progress -->
	<script
		src="../static/assets/vendor/jquery-custom-scrollbar-0.5.5/jquery-custom-scrollbar-0.5.5/jquery.custom-scrollbar.min.js"></script>

	<!-- Circular progress -->
	<script src="../static/assets/vendor/cicular_progress/circle-progress.min.js"></script>

	<!-- Sparklines chartsw -->
	<script src="../static/assets/vendor/sparklines/jquery.sparkline.min.js"></script>

	<!-- chart js -->
	<script src="../static/assets/vendor/chartjs/Chart.bundle.min.js"></script>
	<script src="../static/assets/vendor/chartjs/utils.js"></script>


	<!-- Footable  -->
	<script src="../static/assets/vendor/footable-bootstrap.latest/js/footable.min.js"></script>

	<!-- Other JavaScript -->
	<script src="../static/assets/js/main.js"></script>
	<!-- <script src="../static/assets/js/modifyCompany.js"></script> -->
	<script>
		"use strict";
		/* Footable */
		$('.footable').footable();

		function getCompanyID(id) {
			fetch('/getCompanyID', {
				method: 'POST',
				body: JSON.stringify({ compID: id })
			})
		}

	</script>
</body>

</html>